
#Progress1,
#Progress2 {
    margin: 20px 0px;
    border-radius: 10px;
    color: pink
}

li {
    width: 90%;  
}

ul {
    width: 45%;
    display: inline-block;
    list-style-type: none;
}

.Stats {
    padding: 30px
}